@font-face
{
    font-family: 'Academicons Modified';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src:
        url("academicons-modified.woff2") format("woff2"),
        url("academicons-modified.woff")  format("woff"),
        url("academicons-modified.ttf")   format("truetype");
}

.academicons-modified
{
    font-family: 'Academicons Modified' !important;
}
